<a href="https://colab.research.google.com/github/DevKevalramani/PDS_practicals/blob/main/pds_prac5_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical:5
Write a program to insert, delete, update, retrieve, indexing, slicing, concatenation, join etc. for string(s) from data of your dataset.

In [ ]:
def insert(x):
    
  
    pos=int(input("enter position to insert: "))
    st="Badminton"
    temp=st[:pos]+x+st[pos:]
    st=temp
    print("after insertion: " +st)

In [ ]:
insert(" Federation")

enter position to insert: 10
after insertion: Badminton Federation

In [ ]:
def delete(s1):
    
    s="badminton tournament"
    print("before delete:" +s)
    
    s=s.replace(s1,'')
    print("after delete:" +s)

In [ ]:
delete("tournament")

before delete:badminton tournament
after delete:badminton

In [ ]:
def update(s1):
   
    global s
    s = "International Badminton Federation"
    print("String before updating : " + s)
    s=s1
    print("String after updating : " + s)

In [ ]:
update("Badminton World Federation")

String before updating : International Badminton Federation
String after updating : Badminton World Federation

In [ ]:
def retrieve():
    print(s)

In [ ]:
retrieve()

Badminton World Federation

In [ ]:
def indexing(x):

    s="Badminton"
    print(s)
    
    #x=input("enter the character to get its index:")
    print("the index is: " +str(s.index(x)))

In [ ]:
indexing("a")

Badminton
the index is: 1

In [ ]:
def slicing():
   
    print("Before slicing:" +s)
    start=int(input("Enter start point : "))
    end=int(input("Enter end point : "))
    step=int(input("Enter step point : "))
    print(s[start:end:step])

In [ ]:
slicing()

Before slicing:Badminton World Federation
Enter start point : 2
Enter end point : 8
Enter step point : 2
dit

In [ ]:
def concatenate():
    global s
    s="badminton"
    print(" before concatenation : " + s)
    temp=input("Enter a string to concatenate : ")
    s=s+temp
    print(" after concatenation : " + s)

In [ ]:
concatenate()

 before concatenation : badminton
Enter a string to concatenate :  federation
 after concatenation : badminton federation

In [ ]:
def string_join():
    global s
    s="Badminton"
    print(" before join : " + s)
    s1=input("Enter the string to join : ")
    s=s1.join(s)
    print("String after join : " + s)

In [ ]:
string_join()

 before join : Badminton
Enter the string to join : #
String after join : B#a#d#m#i#n#t#o#n

In [ ]:
def greet(func): 
    # storing the function in a variable 
    greeting = func("Hi, I am created by a function passed as an argument.") 
    print(greeting)

In [ ]:
greet(insert) #insert function is passed as an argument

enter position to insert: 10
after insertion: BadmintonHi, I am created by a function passed as an argument.
None

# Practical 6:
Write a program to insert, delete, update, retrieve, indexing, slicing, concatenation etc. for list(s) from data of your dataset.

In [ ]:
global l1
l1 = ["1", "Thailand open", "Bangkok", "Super 300","WD", "Quarter final"]

In [ ]:
def insert_list():
   
   
    print(" before insertion : " + str(l1))
    
    x=input("Enter element to insert : ")
    pos =int(input("Enter the position for insertion : "))
    l1.insert(pos,x)
    
    print(" after insertion : " + str(l1))

In [ ]:
insert_list()

 before insertion : ['1', 'Thailand open', 'Bangkok', 'Super 300', 'WD', 'Quarter final']
Enter element to insert : Thailand
Enter the position for insertion : 3
 after insertion : ['1', 'Thailand open', 'Bangkok', 'Thailand', 'Super 300', 'WD', 'Quarter final']

In [ ]:
def delete_list():
    l1
    print("before deletion : " + str(l1))
    l1.remove(input("Enter the element to delete : "))
    print("after deletion : " + str(l1))

In [ ]:
delete_list()

before deletion : ['1', 'Thailand open', 'Bangkok', 'Thailand', 'Super 300', 'WD', 'Quarter final']
Enter the element to delete : WD
after deletion : ['1', 'Thailand open', 'Bangkok', 'Thailand', 'Super 300', 'Quarter final']

In [ ]:
def update_list():
   
    print("before updating : " +str(l1))
    i=l1.index(input("Enter the element to be replaced : "))
    l1[i]=input("Enter the new element : ")
    print("New list is : " + str(l1))

In [ ]:
update_list()

before updating : ['1', 'Thailand open', 'Bangkok', 'Super 300', 'WD', 'Quarter final']
Enter the element to be replaced : WD
Enter the new element : MD
New list is : ['1', 'Thailand open', 'Bangkok', 'Super 300', 'MD', 'Quarter final']

In [ ]:
def retrieve_list():
   
    print("The list is : " + str(l1))

In [ ]:
retrieve_list()

The list is : ['1', 'Thailand open', 'Bangkok', 'Super 300', 'MD', 'Quarter final']

In [ ]:
def indexing_list():
    global l1
    print(l1.index(input("Enter the string :")))

In [ ]:
indexing_list()

Enter the string :Bangkok
2

In [ ]:
def slicing_list():
    global l1
    start=int(input("Enter the start position : "))
    end=int(input("Enter the end position : "))
    step=int(input("Enter step : "))
    print(l1[start:end:step])

In [ ]:
slicing_list()

Enter the start position : 1
Enter the end position : 6
Enter step : 2
['Thailand open', 'Super 300', 'Quarter final']

In [ ]:
def concatenate_list():
   
    print("before concatenation :" + str(l1))
    l1.append(input("Give the element to concatenate : "))
    print("after concatenation : " + str(l1))

In [ ]:
concatenate_list()

before concatenation :['1', 'Thailand open', 'Bangkok', 'Super 300', 'MD', 'Quarter final']
Give the element to concatenate : xyz
after concatenation : ['1', 'Thailand open', 'Bangkok', 'Super 300', 'MD', 'Quarter final', 'xyz']

In [ ]:
def join_list():
    global l1
    print("before join : " + str(l1))
    l1=input("Enter the element to join : ").join(l1)
    print("after join : "+str(l1))

In [ ]:
join_list()

before join : ['1', 'Thailand open', 'Bangkok', 'Super 300', 'MD', 'Quarter final', 'xyz']
Enter the element to join : #
after join : 1#Thailand open#Bangkok#Super 300#MD#Quarter final#xyz

# Practical:7
Write a program to insert, delete, update, retrieve, indexing, slicing, concatenation etc. for  tuple(s) from data of your dataset.

In [ ]:
# tup = ["Thailand Open" , "Bangkok" , "super 300"]

def tuple_insert():
    global tup
    print("Tuple before insertion : " + str(tup))
    tup=list(tup)
    tup.insert(int(input("Enter position for insertion")),input("Enter the string for insertion : "))
    tup=tuple(tup)
    print("Tuple before insertion : " + str(tup))
    
def tuple_delete():
    global tup
    print("Tuple before deletion : " + str(tup))
    tup=list(tup)
    tup.remove(input("Enter the element to be deleted : "))
    tup=tuple(tup)
    print("Tuple before deletion : " + str(tup))

def tuple_update():
    global tup
    print("Tuple beforglobale updating : " + str(tup))
    tup=list(tup)
    index=tup.index(input("Enter the element to be replaced : "))
    tup[index]=input("Enter the new element : ")
    print("Tuple after updating : " + str(tup))

def tuple_retrieve():
    global tup
    print("Tuple retrieved : " + str(tup))
    
def tuple_indexing():
    global tup
    print(tup.index(input("Enter the element to get its index : ")))
    
def tuple_slicing():
    global tup
    start=int(input("Enter the start position : "))
    end=int(input("Enter the end position : "))
    step=int(input("Enter step : "))
    print(tup[start:end:step])
    
def tuple_concatenation():
    global tup
    tup=list(tup)
    print("Tuple before concatenation : " + str(tup))
    tup.append(input("Enter the element to be concatenated : "))
    tup=tuple(tup)
    print("Tuple after concatenation : " + str(tup))

def switch(argument):
    switcher={
        "1":tuple_insert,
        "2":tuple_delete,
        "3":tuple_update,
        "4":tuple_retrieve,
        "5":tuple_indexing,
        "6":tuple_slicing,
        "7":tuple_concatenation,
    }
    r=switcher.get(argument)()
    
tup = ["Thailand Open" , "Bangkok" , "super 300"]
print("Tuple : " + str(tup) + "\n")


print("""Select the operation from the following:
1. Insert
2. Delete
3. Update
4. Retrieve
5. Indexing                   
6. Slicing
7. Concatenation
""")
arg=input("Enter numbers to select operation : ")
print()

switch(arg)

Tuple : ['Thailand Open', 'Bangkok', 'super 300']

Select the operation from the following:
1. Insert
2. Delete
3. Update
4. Retrieve
5. Indexing
6. Slicing
7. Concatenation

Enter numbers to select operation : 6

Enter the start position : 1
Enter the end position : 3
Enter step : 1
['Bangkok', 'super 300']

# Practical 8:
Write a program to do set operations from data of your dataset: (i)intersection (ii)union (iii)difference (iv)symmetric difference (v)check s1 is a subset of s2(vi)check if s1 is a superset of s2(vii)find whether two sets are disjoint or not(viii)find all subsets of a set without using itertools

In [ ]:
global s1,s2
s1={"1","Thailand Open","Bangkok","MS"}

#initial set s2
s2={"2","China Open"," Guangzhou","MS"}

def intersection():
    
    print("Intersection of s1 and s2 : "+str(s1.intersection(s2)))

def union():
    
    
    print("Union of s1 and s2 : " + str(s1.union(s2)))


def set_difference():
   
    
    #Set difference of sets s1 and s2 (i.e. s1-s2) with the help of difference function
    print("Set Difference : " + str(s1.difference(s2)))


def symmetric_difference():
    
    
    #Set symmetric difference of sets s1 and s2 with the help of symmetric_difference function
    print("Symmetric Difference : " + str(s1.symmetric_difference(s2)))


def is_subset():
    
    #check if set s1 is subset of s2
    #returns True if s1 is subset of s2 else False
    print("s1 subset of s2 : " + str(s1.issubset(s2)))


def superset():
    
    
    #check if set s1 is superset of s2
    #returns True if s1 is superset of s2 else False
    print("s1 superset of s2 : "+str(s1.issuperset(s2)))

def disjoint():
   
    
    #check if sets s1 and s2 are disjoint sets
    print("s1 and s2 are disjoint : "+str(s1.isdisjoint(s2)))


def allsubsets():
    
    output=[[]]
    out=[[]]
    for i in s1:
        output+=[lst+[i] for lst in output]
    print("All subsets of s1 :\n"+str(output))
    
    for i in s2:
        out+=[l+[i] for l in output]
    print("All subsets of s2 :\n"+str(output))

In [ ]:
intersection()

Intersection of s1 and s2 : {'MS'}

In [ ]:
union()

Union of s1 and s2 : {'Bangkok', 'MS', '2', '1', ' Guangzhou', 'China Open', 'Thailand Open'}

In [ ]:
set_difference()

Set Difference : {'1', 'Thailand Open', 'Bangkok'}

In [ ]:
symmetric_difference()

Symmetric Difference : {'2', 'Bangkok', '1', ' Guangzhou', 'China Open', 'Thailand Open'}

In [ ]:
is_subset()

s1 subset of s2 : False

In [ ]:
superset()

s1 superset of s2 : False

In [ ]:
disjoint()

s1 and s2 are disjoint : False

In [ ]:
allsubsets()

All subsets of s1 :
[[], ['1'], ['Thailand Open'], ['1', 'Thailand Open'], ['Bangkok'], ['1', 'Bangkok'], ['Thailand Open', 'Bangkok'], ['1', 'Thailand Open', 'Bangkok'], ['MS'], ['1', 'MS'], ['Thailand Open', 'MS'], ['1', 'Thailand Open', 'MS'], ['Bangkok', 'MS'], ['1', 'Bangkok', 'MS'], ['Thailand Open', 'Bangkok', 'MS'], ['1', 'Thailand Open', 'Bangkok', 'MS']]
All subsets of s2 :
[[], ['1'], ['Thailand Open'], ['1', 'Thailand Open'], ['Bangkok'], ['1', 'Bangkok'], ['Thailand Open', 'Bangkok'], ['1', 'Thailand Open', 'Bangkok'], ['MS'], ['1', 'MS'], ['Thailand Open', 'MS'], ['1', 'Thailand Open', 'MS'], ['Bangkok', 'MS'], ['1', 'Bangkok', 'MS'], ['Thailand Open', 'Bangkok', 'MS'], ['1', 'Thailand Open', 'Bangkok', 'MS']]

# Practical 9:
Write a program to do operations on a dictionary from data of your dataset.

In [ ]:
global d1
d1={"Tournament name":"Thailand Open", "city":"Bangkok", "type":"super 300"}

In [ ]:
def insert_d():
    d1={"Tournament name":"Thailand Open", "city":"Bangkok", "type":"super 300"}
    print("before insertion : " + str(d1))
    x=list(d1.items())
    x.insert(int(input("Enter position for insertion : ")), (input("Enter Key : "),input("Enter value : ")))
    d1=dict(x)
    print("Dictionary after insertion : " + str(d1))

In [ ]:
insert_d()

before insertion : {'Tournament name': 'Thailand Open', 'city': 'Bangkok', 'type': 'super 300'}
Enter position for insertion : 2
Enter Key : country
Enter value : Thailand
Dictionary after insertion : {'Tournament name': 'Thailand Open', 'city': 'Bangkok', 'country': 'Thailand', 'type': 'super 300'}

In [ ]:

def delete_d():
    
    
    print("before deletion : " + str(d1))
    k=(input("Enter key to be deleted : "))
           
    del d1[k]
    print("Dictionary after deletion : " + str(d1))

In [ ]:
delete_d()

before deletion : {'Tournament name': 'Thailand Open', 'city': 'Bangkok', 'type': 'super 300'}
Enter key to be deleted : city
Dictionary after deletion : {'Tournament name': 'Thailand Open', 'type': 'super 300'}

In [ ]:
def update_d():
    global d1
    print("before updating : " + str(d1))
    k1=(input("Enter the key to be replaced : "))
    val=input("Enter the value : ")
    d1.update({k1:val})
    print("after updating : " + str(d1))

In [ ]:
update_d()

before updating : {'Tournament name': 'Thailand Open', 'type': 'super 300'}
Enter the key to be replaced : type
Enter the value : Super 500
after updating : {'Tournament name': 'Thailand Open', 'type': 'Super 500'}

In [ ]:
def retrieve_d():
    global d1
    print("Dictionary retrieved : " + str(d1))

In [ ]:
retrieve_d()

Dictionary retrieved : {'Tournament name': 'Thailand Open', 'type': 'Super 500'}

In [ ]:
def indexing_d():
    global d1
    k=input("Enter the key to get its value : ")
    print(d1.get(k))

In [ ]:
indexing_d()

Enter the key to get its value : type
Super 500

In [ ]:
#problem
def slicing_d():
    global d1
    start=int(input("Enter start position : "))
    end=int(input("Enter end position : "))
    res=dict()
    for i in d1:
        res[i]=d1[i][start:end]
    print(res)

In [ ]:
slicing_d()

Enter start position : 1
Enter end position : 2
{'Tournament name': 'h', 'type': 'u'}

In [ ]:
def concatenate_d():
    global d1
    print("before concatenation : " + str(d1))
    key_to_concatenate=(input("Enter the key to be concatenated : "))
    value_to_concatenate=input("Enter the value to be concatenated : ")
    d1.update({key_to_concatenate:value_to_concatenate})
    print("after concatenation : " + str(d1))

In [ ]:
concatenate_d()

before concatenation : {'Tournament name': 'Thailand Open', 'type': 'Super 500'}
Enter the key to be concatenated : city
Enter the value to be concatenated : Bangkok
after concatenation : {'Tournament name': 'Thailand Open', 'type': 'Super 500', 'city': 'Bangkok'}